header {
  background-color: darkgray;
  margin-bottom: 30px;
}

header nav {
  margin: auto;
  width: 960px;
}

head img {
  
}

main img {
  margin-bottom: 30px;
}

main {
  background-color: lightcyan;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 960px;
}

footer {
  background-color: gray;
  height: 50px;
}

.button {
  background-color: lightgray;
  color: black;
  margin-top: 100px;
  width: 75px;
}

.Nav-Items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px black solid;
  height: 350px;
  margin: 0 auto;
  font-size: large;
  width: 450px;
}


